.divide {
    display: flex;
    margin-left: 100px;
}
.lists {
    display: flex;
}
body{
    padding-bottom: 100px;
}
.li-1 {
    font-family: 'Playfair Display', serif;
    font-family: 'Rowdies', cursive;
    margin-left: 50px;
    font-size: 23px;
}
.li-1:hover{
    color: #bd5f3a;
    text-shadow: 0 0 5px rgb(60, 255, 0);
}
.div-1{
    margin-top: 50px;
}
.logo {
    width: 150px;
    height: 100px;
}
.background {

    background-image: url(../image/Fashion88.png);
    width: 100%;
    height: 380px;
    margin-top: 100px;
    background-size: cover;
    position: absolute;
   
    
}
.div-2{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.p-1{
    font-family: 'Playfair Display', serif;
    font-family: 'Rowdies', cursive;
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}
.head1{
    font-family: 'Playfair Display', serif;
    font-family: 'Rowdies', cursive;
    font-size: 48px;
    color: white;
}
.head2 {
    font-family: 'Playfair Display', serif;
    font-family: 'Rowdies', cursive;
    font-size: 22px;
    color: #FF7A00;
    margin-top: 50px;
    margin-left: 50px;
   margin-top: 480px;
}
.div-3{
    width: 100%;
    display: flex;
   }
.sec-2{
    margin-left: 200px;
    margin-top: 100px;
    display: inline-block;
}
.sec-2-h{
    font-size: 40px;
    width: 90%;
}
.p-2{
    width: 60%;
}
.div-4{
    display: flex;
}


/*button*/
.button{
    margin-top: 100px;
    margin-left: 800px;
    color: #ff5900;
    font-size: 25px;
    padding: 20px 50px;
    border: 2px solid chocolate;
    position: relative;

}
.button::before , .button::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border: inherit;
    transition: all .5s;
}
.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
.button:hover{
    background-color: #FF7A00;
    color: black;
}
.button:hover::before , .button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px) ;
}

.black{

    background: linear-gradient(
        to right, #833abd
        red
        yellow
    );
    background-size: 400% 400%;
    animation: 10s infinite ease-in-out;

}
@keyframes animate-backgroun {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    100% {
        background-position: 0 50%;
    }
}
